body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.mainDiv {
  margin-left: 10px;
}

.adultDiv {
  border: 5px solid blue;
  width: 250px;
  margin-top: 10px;
  padding-left: 10px;
}

.userDiv {
  border: 5px solid red;
  width: 450px;
  margin-top: 10px;
  padding-left: 10px;
}

.usersDiv {
  border: 5px solid green;
  width: 350px;
  margin-top: 10px;
  padding-left: 10px;
}